*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.main{
    background-image: url(background/top-banner.png);
    background-repeat: no-repeat;
}

span.antu {
    color: orange;
}

h1.welcome {
    font-size: 35px;
    line-height: 75px;
}